:root {
  --primary-color: #000000;
  --secondary-color: rgb(40, 40, 40);
  --tertiary-color: #444444;
  --accent-color: #c6ff54;
  --text-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.User {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 80%;
  max-width: 270px;
}

.User__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.User__header > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.User__header > h1 {
  font-size: 1.5rem;
}

.User__header > address {
  color: var(--accent-color);
  font-style: normal;
  font-size: 0.85rem;
}

.User__list {
  padding: 0;
  list-style:none;
  margin: 0;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
}

.User__list__item {
  display: flex;
  width: calc(100% - 1.5rem);
  padding: 0.75rem;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  column-gap: 0.5rem;
  justify-content: center;
}

.User__list__item:hover {
  background-color: var(--accent-color);
  color: var(--primary-color)
}

@media screen and (min-width: 1024px) {
  .User {
    max-width: 600px;
  }

  .User__list {
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    gap: 1.25rem;
  }

  .User__list__item {
    height: calc(100px - 1.5rem);
    font-size: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .User__list__item > span {
    display: none;
  }
}